$color: strawberry-chocolate !default;

// Strawberry Chocolate
$page-hue: 0;

// Page-wide colors
$page-bg: hsl($page-hue, 6%, 31%);
$body-bg: hsl($page-hue, 100%, 98%);
$text-color: hsl($page-hue, 30%, 12%);
$link-color: hsl($page-hue, 31%, 50%);

$body-alt-bg: hsl($page-hue, 30%, 89%);
$accent-color: hsl($page-hue, 76%, 71%);

// Page header colors
$page-header-color: hsl($page-hue, 3%, 89%);
$page-header-color-sub: hsl($page-hue, 2%, 64%);

// Body Header colors
$body-header-bg: hsl($page-hue, 30%, 12%);
$body-header-color: hsl($page-hue, 30%, 89%);

// Post colors
$post-header-bg: hsl($page-hue, 30%, 25%);
$post-iframe-bg: hsl($page-hue, 6%, 20%);
