$main-hue: 225;
$accent-hue: 38;

$page-bg: hsl($main-hue, 15%, 9%);
$body-bg: hsl($main-hue, 15%, 20%);
$text-color: white;
$main-color: white;
$link-color: hsl($main-hue, 77%, 85%);
$accent-color: hsl($accent-hue, 100%, 68%);

