$main-hue: 194;
$accent-hue: 38;

$page-bg: hsl(0, 0%, 92%);
$body-bg: white;
$text-color: hsl($main-hue, 94%, 14%);
$main-color: hsl($main-hue, 94%, 26%);
$link-color: hsl($main-hue, 77%, 45%);
$accent-color: hsl($accent-hue, 100%, 68%);

