.home {
  line-height: 0;

  video {
    background-color: black;
  }

  #reeltag {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: 100%;
      position: absolute;
      padding: 10px 20px;
      left: 0;
      top: 50%;
      height: 36px;
      padding-top: -18px;
      background-color: rgba($body-header-bg, 0.8);
      color: $body-header-color;
      text-transform: lowercase;
      border-left: 5px solid $accent-color;

      h1 {
        font-size: 18px;
        margin: 0;
        white-space: nowrap;
      }

      h2 {
        font-size: 12px;
        margin: 0;
        white-space: nowrap;
      }
  }

  .sitereel {
      width: 100%;
      margin: 0;
  }
}
