@import 'colors';

.resume {
  font-size: 12px;
  h1 {
    background-color: $body-header-bg;
    color: $body-header-color;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    padding: 0 10px;
  }
  p {
    padding: 0 25px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-position: inside;
      list-style: none;
      position: relative;
      padding: 0 0 12px 0;
      h2 {
        font-weight: 500;
        font-size: 18px;
        margin: 0;
        padding: 0 15px;
        background-color: $body-alt-bg;
        text-transform: lowercase;
        font-family: 'Roboto', sans-serif;
      }
      h3 {
        margin: 0;
        font-size: 12px;
        font-weight: 700;
        padding: 0 20px;
        text-transform: lowercase;
        font-family: 'Roboto', sans-serif;
      }
      h4 {
        margin: 0;
        font-size: 12px;
        font-weight: 300;
        position: absolute;
        top: 0;
        right: 0;
        font-family: 'Roboto', sans-serif;
        padding: 0 10px;
        text-transform: lowercase;
      }
      h5 {
        margin: 0;
        font-weight: 300;
        padding: 0 25px;
        font-size: 12px;
      }
      ul {
        font-size: 12px;
        li {
          padding: 0 25px;
          list-style: square;
          list-style-position: inside;
        }
      }
      ol {
        padding: 0 25px;

        -moz-column-count: 4;
        -moz-column-gap: 20px;
        -webkit-column-count: 4;
        -webkit-column-gap: 20px;
        column-count: 4;
        column-gap: 20px;

        li {
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

// Phones
@media screen and (max-device-width: 640px){
  .resume {
    h1 {
      font-size: 20px;
      font-weight: bold;
      /* color: mix($main-color, $body-bg, 40%); */
    }
    ul {
      padding: 0 0 0 10px;
      li {
        h2 {
          margin: 0;
          font-size: 14px;
          font-weight: bold;
          /* color: $main-color; */
        }
        h3 {
          font-size: 12px;
        }
        h4 {
          font-size: 12px;
          position: static;
        }
        ol {
          -moz-column-count: 2;
          -moz-column-gap: 20px;
          -webkit-column-count: 2;
          -webkit-column-gap: 20px;
          column-count: 2;
        }
        ul {
          li {
            list-style: circle;
            font-size: 14px;
          }
        }
      }
    }
  }
}
